@import "base";

$passport_bkg: "/images/passport-bkg.jpg";
$passport_width: 80%;

body {
  padding-top: 100px;
  background: {
    image: url($passport_bkg);
    repeat: no-repeat;
    position: center;
    attachment: fixed;
    size: cover;
  }
;
  color: white;
}

// 登录注册框
.passportContainer {
  padding: $medium_dist;
  position: relative;
  width: 30%;
  @include card-dark-box-shadow;
  @include horizontal-center;
  background: rgba(0, 0, 0, 0.3);
  @include border-radius($border_radius);
  form {
    .ui.header {
      color: white;
      border-bottom: 2px dashed rgba(161, 183, 205, 0.35);
    }

  }

  a.backToHome {
    display: block;
    position: absolute;
    bottom: -5px;
    right: 5px;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.58);
    text-decoration: underline;
  }
}

// 最后按钮需要居中
.field:last-child {
  text-align: center;
}